*{
    margin: 0;
    padding: 0;
}
/*html {
    box-sizing: border-box;
    
  }*/
 body{
   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



/* ----------------------------------------------------------HEADER------------------------------------------------------------------------------ */
.img-logo{
    width: 80px;
}


img-size{
    width: 10px;
}

header{
    background-color: black;
}

header h1{
    color: black ;
}

.texto-alineado{
    
    vertical-align: middle;
    padding-right: 300px;
}
    
header a{
    text-decoration: none;
    font-size: 40px;
    color: white;
   
}
 header a img{
     width: 150px;
}
  

.menu-header{
    background-color: #a32129;
    display: flex;
    justify-content: space-around;
    list-style: none;
    
}

.menu-header a{
    font-size: 30px ;
    
}


.item-sticky{
    position: sticky;
    top: 0;
    bottom: 0;
}

/*------------------------------------------------ANIMACION HEADER-------------------------------------------*/


main{ 
    background-image: url(multimedia/imagenes/wallpaper-neon.jpg);
    padding-top: 100px;
    margin-bottom: 0%;
}






/*-------------------------------------MAIN----------------------------------------*/


/*----------------------------------CARROUSEL----------------------------------*/
.carousel-edit {
    height: 600px;
  }
  
  @media only screen and (max-width: 991px) {
    .carousel-edit {
      height: auto;
    }
  }

  /*-------------------ARTICULOS MAIN------------------*/

  .articulos-main{
      display: none;
  }

/*----------------------WHATSAPP---------------------------------*/
.item-fixed {
    position: fixed;
    bottom:0;
    right: 0;
}

.item-fixed img{
      width: 70px;
}
.ul-whatsapp{
    list-style-type: none;
}

  /*----------------------------------------------------FOOTER------------------------------------------------------------*/
footer{
    background-color: grey;
    background-color: grey;
    display: flex;
    flex-direction: column;
    list-style: none ;
    
}

 /*footer ul li{
    color: black;
}*/
 footer nav li img{
     width: 20px;
 }
 footer ul li img{
     width: 20px;
 }
footer nav ul li a{
    text-decoration: none;
    
}

footer nav ul li a:hover{
    background-color: rgb(56, 54, 54);
}
footer h5{
    color: black;
    margin-bottom: 20px;
}



/*--------------------------------MEDIA--------------------------*/

/*----MAIN-ARTICULOS-INDEX-------------*/

@media screen and (min-width: 600px){
    .articulos-main{
        display: block;
        
}
}